@font-face {
	font-family: 'Bud';
	font-weight: bold;
	src: url('../fonts/Bud/BUD_BOLD_CYR.otf') format('opentype'),
	url('../fonts/Bud/BUD_BOLD_CYR.ttf') format('truetype');
}
html {
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
	font-family: 'Bud', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #000;
	line-height: normal;
	background-image: -webkit-linear-gradient(334deg, #ee2e24, #570b07);
	background-image:      -o-linear-gradient(334deg, #ee2e24, #570b07);
	background-image:         linear-gradient(-244deg, #ee2e24, #570b07);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
.counter-block {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f4f4f), to(#000));
	background-image: -webkit-linear-gradient(top, #4f4f4f, #000);
	background-image:      -o-linear-gradient(top, #4f4f4f, #000);
	background-image:         linear-gradient(to bottom, #4f4f4f, #000);
	-webkit-box-shadow: 0 7px 29px 0 rgba(0,0,0,.38);
	        box-shadow: 0 7px 29px 0 rgba(0,0,0,.38);
	border: solid 14px #fff;
	margin: 51px 0 50px;
	min-height: 243px;
	overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.counter-block {
		min-height: 230px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.counter-block {
		min-height: 200px;
	}
}
@media (max-width: 767px) {
	.counter-block {
		min-height: 157px;
	}
}
#counter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	-webkit-transform: scale(2.1);
	    -ms-transform: scale(2.1);
	        transform: scale(2.1);
	position: relative;
	left: -10px;
	padding-top: 28px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	#counter {
		-webkit-transform: scale(1.65);
		    -ms-transform: scale(1.65);
		        transform: scale(1.65);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#counter {
		-webkit-transform: scale(1.4);
		    -ms-transform: scale(1.4);
		        transform: scale(1.4);
		padding-top: 18px;
	}
}
@media (max-width: 767px) {
	#counter {
		-webkit-transform: scale(.95);
		    -ms-transform: scale(.95);
		        transform: scale(.95);
		padding-top: 0;
	}
}
.flip-clock-wrapper ul:nth-child(3) {
	margin-right: 29px;
	position: relative;
}
.flip-clock-wrapper ul:nth-child(3):after {
	content: ',';
	display: block;
	position: absolute;
	color: #fff;
	right: -30px;
}
@media (max-width: 767px) {
	.flip-clock-wrapper ul:nth-child(3):after {
		display: none;
	}
}
@media (max-width: 767px) {
	.flip-clock-wrapper ul:nth-child(3) {
		margin-right: 5px;
	}
}
.flip-clock-wrapper ul li a div.up div.inn, .flip-clock-wrapper ul li a div.down div.inn {
	color: #fff;
}
@media (max-width: 767px) {
	.flip-clock-wrapper ul li a div.up div.inn, .flip-clock-wrapper ul li a div.down div.inn {
		font-size: 50px;
	}
}
.img-bud {
	display: block;
	margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.img-bud {
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.img-bud {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.img-bud {
		width: 100%;
	}
}
.text-justify {
	text-align: justify !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
@media (min-width: 576px) {
	.text-sm-left {
		text-align: left !important;
	}
	.text-sm-right {
		text-align: right !important;
	}
	.text-sm-center {
		text-align: center !important;
	}
}
@media (min-width: 768px) {
	.text-md-left {
		text-align: left !important;
	}
	.text-md-right {
		text-align: right !important;
	}
	.text-md-center {
		text-align: center !important;
	}
}
@media (min-width: 992px) {
	.text-lg-left {
		text-align: left !important;
	}
	.text-lg-right {
		text-align: right !important;
	}
	.text-lg-center {
		text-align: center !important;
	}
}
@media (min-width: 1200px) {
	.text-xl-left {
		text-align: left !important;
	}
	.text-xl-right {
		text-align: right !important;
	}
	.text-xl-center {
		text-align: center !important;
	}
}
h1 {
	font-family: 'Bud', sans-serif;
	font-size: 4.438rem;
	font-weight: bold;
	color: #fff;
	line-height: .68;
	margin-bottom: 3.625rem;
	letter-spacing: 2.4px;
	text-align: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
	h1 {
		line-height: 1;
		margin-bottom: 3rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		line-height: 1;
		margin-bottom: 3rem;
	}
}
@media (max-width: 767px) {
	h1 {
		font-size: 2.5rem;
		line-height: 1;
		margin-bottom: 3rem;
	}
}
h3 {
	font-family: 'Bud', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	color: #fff;
	line-height: 1;
	margin-bottom: 3.5rem;
	letter-spacing: 1.7px;
	text-align: center;
	text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 991px) {
	h3 {
		font-size: 1.25rem;
	}
}
@media (max-width: 767px) {
	h3 {
		line-height: 1.5;
	}
}
a {
	text-decoration: none;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	outline: none;
}
.link-logo {
	display: block;
	max-width: 50px;
}
.link-logo img {
	width: 100%;
}
.link-up {
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 30px;
	height: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	opacity: 0;
}
.link-up.visible {
	opacity: 1;
}
button {
	border: none;
	cursor: pointer;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
button:focus {
	outline: none;
}
.button {
	display: block;
	max-width: 263px;
	width: 100%;
	text-align: center;
	background: #fff;
	color: #000;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: .8;
	letter-spacing: 1.3px;
	margin: 0 auto;
}
.button:hover {
	color: #000;
	background: #a9a9a9;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style: none;
}
ol {
	padding: 0;
	margin: 0;
}
.ul-regular li {
	padding-left: 1rem;
	position: relative;
	margin-bottom: 1rem;
}
.ul-regular li:before {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 2px;
	background: #000;
	top: 9px;
	left: 0;
}
.ul-filter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin-bottom: 1rem;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
}
.ul-filter li {
	margin: 1rem;
}
.ul-filter li a {
	padding: 1rem;
	background: #000;
	color: #fff;
}
.ul-filter li a:hover {
	color: #000;
	background: #a9a9a9;
}
.ul-filter li .active {
	color: #000;
	background: #a9a9a9;
}
.ol-regular {
	margin-left: 1rem;
}
.ol-regular li {
	margin-bottom: 1rem;
}
main {
	padding: 107px 0;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
@media (max-width: 767px) {
	main {
		position: relative;
		z-index: 100;
	}
}