@import '../../utilities/vars'
@import '../../utilities/mixins'

h1
  font(3rem, $white, bold, 1)
  margin-bottom 20px
  letter-spacing: 2.4px;
  text-align center
  +mobile()
    font-size 2rem
    margin-bottom 15px


h3
  font(1rem, $white, 400, 1)
  margin-bottom 25px
  letter-spacing: 1.7px;

  text-align center

  text-transform uppercase

  +mobile()
    font-size 1rem
    line-height 1.5
    margin-bottom 20px

p
  font-size $s14
  line-height: 1.5;
  letter-spacing: 1px;
  color $white
  font-weight 400
  font-family 'Gotham Pro', sans-serif
  margin-bottom 20px
  text-align center
  +mobile()
    font-size 8px
    margin-bottom 15px
