@import '../../utilities/vars'
@import '../../utilities/mixins'

h1
  font(4.438rem, $white, bold, .68)
  margin-bottom 3.625rem
  letter-spacing: 2.4px;
  text-align center

  +tablet()
    line-height 1
    margin-bottom 3rem
  +portrait()
    line-height 1
    margin-bottom 3rem
  +mobile()
    font-size 2.5rem
    line-height 1
    margin-bottom 3rem


h3
  font(1.5rem, $white, 400, 1)
  margin-bottom 3.5rem
  letter-spacing: 1.7px;

  text-align center

  text-transform uppercase

  +portrait()
    font-size: 1.25rem;
  +mobile()
    line-height 1.5

