@import '../../utilities/vars'
@import '../../utilities/mixins'

main
  display flex
  justify-content center
  align-items center
  min-height 100vh
  padding 20px 0
  +mobile()
    position relative
    z-index 100

