//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    .container
        .row.justify-content-center
            .col-lg-10
                h1 Я СВЯТКУЮ ВІДПОВІДАЛЬНО
                a(href='' title='').button ПРИЄДНАТИСЬ

                .counter-block
                    #counter

                h3 #святкуйнерулюй #святкуйвідповідально #вдомачекають

            .col-lg-8
                img(src='img/Bud_Uber.png').img-bud