//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | святкуйнерулюй

block content

    .container
        .row.justify-content-center
            .col-lg-10
                h1 Я СВЯТКУЮ ВІДПОВІДАЛЬНО
                p Проблема керування в нетверезому стані в нашій країні стоїть дуже гостро. Кожна п‘ята смерть на дорозі - наслідок безглуздого вибору сісти за кермо п‘яним. У новорічний період кількість приводів для святкування зростає, водночас пропорційно зростає ймовірність зробити саме той безглуздий, небезпечний вибір. Не сідайте за кермо в нетверезому стані! Пам’ятайте, що вдома на вас і на всіх інших чекають рідні та близькі люди.

                a(href='' title='').button ПРИЄДНАТИСЬ
            .col-lg-8
                .counter-block
                    .loader
                        svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='30px' viewbox='0 0 24 30' style='enable-background:new 0 0 50 50;' xml:space='preserve')
                            rect(x='0' y='10' width='4' height='10' fill='#333' opacity='0.2')
                            animate(attributename='opacity' attributetype='XML' values='0.2; 1; .2' begin='0s' dur='0.6s' repeatcount='indefinite')
                                animate(attributename='height' attributetype='XML' values='10; 20; 10' begin='0s' dur='0.6s' repeatcount='indefinite')
                                    animate(attributename='y' attributetype='XML' values='10; 5; 10' begin='0s' dur='0.6s' repeatcount='indefinite')
                                        rect(x='8' y='10' width='4' height='10' fill='#333' opacity='0.2')
                                        animate(attributename='opacity' attributetype='XML' values='0.2; 1; .2' begin='0.15s' dur='0.6s' repeatcount='indefinite')
                                            animate(attributename='height' attributetype='XML' values='10; 20; 10' begin='0.15s' dur='0.6s' repeatcount='indefinite')
                                                animate(attributename='y' attributetype='XML' values='10; 5; 10' begin='0.15s' dur='0.6s' repeatcount='indefinite')
                                                    rect(x='16' y='10' width='4' height='10' fill='#333' opacity='0.2')
                                                    animate(attributename='opacity' attributetype='XML' values='0.2; 1; .2' begin='0.3s' dur='0.6s' repeatcount='indefinite')
                                                        animate(attributename='height' attributetype='XML' values='10; 20; 10' begin='0.3s' dur='0.6s' repeatcount='indefinite')
                                                            animate(attributename='y' attributetype='XML' values='10; 5; 10' begin='0.3s' dur='0.6s' repeatcount='indefinite')

                    #counter



                h3 #святкуйнерулюй

            .col-xl-6.col-lg-8
                img(src='img/Bud_Uber.png').img-bud