//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | святкуйнерулюй

block content

    .container
        .row.justify-content-center
            .col-lg-10
                h1 Я СВЯТКУЮ ВІДПОВІДАЛЬНО
                p Проблема керування в нетверезому стані в нашій країні стоїть дуже гостро. Кожна п‘ята смерть на дорозі - наслідок безглуздого вибору сісти за кермо п‘яним. У новорічний період кількість приводів для святкування зростає, водночас пропорційно зростає ймовірність зробити саме той безглуздий, небезпечний вибір. Не сідайте за кермо в нетверезому стані! Пам’ятайте, що вдома на вас і на всіх інших чекають рідні та близькі люди.

                a(href='' title='').button ПРИЄДНАТИСЬ
            .col-lg-9
                .counter-block
                    #counter



                h3 #святкуйнерулюй

            .col-xl-6.col-lg-8
                img(src='img/Bud_Uber.png').img-bud